@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
    letter-spacing: -0.01em;
    overflow: hidden;
}

a {
    text-decoration: none;
}


#book {
    width: 100%;
    max-width: 700px;
    position: absolute;
    top: 20px;
    left: 50%;
    height: 95%;
    transform: translate(-50%);
    perspective: 1000px;
}

#bookcover {
    position: absolute;
    z-index: -3;
    top: -12px;
    height: 100%;
    background-color: #0f4c81;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
}

.pagecolor {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fbfbfb;
    z-index: -2;
}

h1 {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

h1>img {
    width: 150px;
}

#firstpage {
    position: absolute;
    top: -12px;
    background-color: #0f4c81;
    z-index: 20;
    transform-origin: left center;
    transition: transform 1.5s,filter 0.01s 1s;
/*    display: none;*/
/*
    background-image: url(../images/cover_texture.jpg);
    background-repeat: no-repeat;
*/
}

.page {
    transform-origin: left center;
    transition: transform 2s;
}

.mirror {
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}

h2 {
    margin-top: 1.5em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: 900;
    text-decoration: underline;
    font-size: 2.2em;
    color: #333;
}

h3 {
    font-size: 1.8em;
}

#btntab {
    transform-origin: bottom right;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top: 50%;
    transition: right 0.4s;
}

#skillmark {
    background-color: #135fa1;
}

#workmark {
    background-color: #1877c9;
}

#aboutmark {
    background-color: #3393e7;
}

#btntab>button {
    font-size: 1.5em;
    font-weight: 700;
    color: #FBFBFB;
    padding: 0.2em 0.5em;
    border: none;
    outline: none;
}

#skill {
    width: 100%;
    position: absolute;
    height: 100%;
}

.skillpage {
    width: 100%;
    position: absolute;
    height: 100%;
    display: none;
    transform-origin: left center;
    transition: transform 2s;
}

.workpage {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

#aboutme {
    display: none;
}

.paper {
    text-align: center;
}

.paper::before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/paper_texture.jpg);
    z-index: -1;
    filter: opacity(0.2);
}

.borderbox {
    border: 1px solid #333;
}

.textbox {
    margin-top: 1em;
}

.number {
    font-weight: 500; 
    font-size: 1.1em;
}

.line-space {
    display: block;
}

.accent {
    font-size: 1.25em;
    font-weight: 700;
}

.infotext {
    margin-top: 1em;
    font-weight: 500;
    font-size: 0.85em;
    margin-bottom: 0.5em;
}

.caution {
    font-size: 0.7em;
}

.btnbox {
    margin-top: 2em;
}

.btn {
    font-weight: 900;
    display: inline-block;
    color: #333;
    border: 1px solid #333;
    padding: 0.5em 1.8em; 
    transition: all 0.4s;
}

.btn:hover {
    color: #fbfbfb;
    background-color: #333;
}

.selfintro {
    font-size: 0.95em;
    font-weight: 500;
}

.turn {
    
}
